
a{
    font-size: 30px;
    font-weight: bold;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(160, 132, 146);
}

/* selected link */
a:active {
  color: blue;
}
